# original ignores
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# local
vendor.noindex/
bin/bundle
bin/htmldiff
bin/ldiff
bin/rake
bin/rspec
bin/rubocop
bin/ruby-parse
bin/ruby-rewrite